.Header-color {
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.img {
  min-width: 1;
  min-height: 1;
  max-width: 1.28571429em;
  max-height: 1.28571429em;
  cursor: pointer;
}
.update-card-img {
  min-width: 1;
  min-height: 1;
  max-width: 3em;
  max-height: 3em;
  cursor: pointer;
}

.fundoo-text {
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif Arial, Helvetica, sans-serif
}

.card-signin-signup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  /* max-width: 500px; */
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4.25rem;
  margin-top: 1%;
}

.sidenav---sidenav---_2tBP {
  position: relative;
  display: grid;
  /* top: 4.8rem; */
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 64px;
  background: #db3d44;
  transition: min-width 0.15s;
  /* opacity: 0.5; */
}

.input {
  /* margin-left: 2%; */
  width: 50%;
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgb(143, 143, 143); */
}

input.input:focus {
  outline-width: 0;
}

.search-button {
  width: 100%
}

.MuiAppBar-colorPrimary {
  color: black;
  background-color: whitesmoke;
}

.create {
  /* border: 1px solid; */
  width: 25%;
  display: flex;
  border-radius: 8px;
  border: 1px solid rgb(169, 169, 169);
  /* justify-content: center; */
}

.create1 {
  /* border: 1px solid blue; */
  width: 48%;
  height: 90%;
  display: flex;
  justify-content: baseline;
  margin-top: 7%;
  margin-left: 32%;
}

.take-note-input {
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  outline-width: 0;
  width: 100%;
  border: none;
}

.take-note-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  max-width: 500px;
  height: auto;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(143, 143, 143);
  margin-top: 7%;
  width: 100%;
}

.take-note-div {
  display: flex;
  justify-content: center;
  /* margin-top: 10%; */
}

.card-body-text {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  width: 100%;
}

.card-body-desc {
  justify-content: space-between;
  min-width: 0;
  width: 100%;
}

.note-description {
  min-width: 0;
  width: 100%;
  border: none;
}

.take-note-card-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  max-width: 500px;
  height: auto;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(143, 143, 143);
  margin-top: 7%;
  width: 100%;

}

.take-note-div-desc {
  /* margin-top: 10%; */
  display: flex;
  justify-content: center;
}

.card-bottom {
  display: flex;
  /* position: absolute; */
  width: inherit;

}

.modal-footer-note {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.take-note-user-card-description{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(143, 143, 143);

}

.user-card-div{
  /* display: flex; */
  margin-top: 1%;
}

.afterslide {
  margin-left: 150px;
  transition: margin-left 0.25s;
}

.beforeslide {
  transition: 0.25s
}
.card-grid{

    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: normal;
    margin-left: 20%;
  
  
  }

    .all-note-div{
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .card-margin{
      margin-top: 4%;
    }


.colorPalleteCard {
  position: absolute;
  max-width: 116px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  transition: 5s;
}



.colorPalleteCard div IconButton {
  margin: 5px;
}

.color-pallate-icon{
  margin-left: 5%;
  margin-right: 5%;
}

.remind-me {
  position: absolute;
  max-width: 200px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  transition: 5s;
  font-size: 0.8em;
  
  
}

.remind-day{
  display: flex;
  justify-content: space-between;
  width: 180px;
  cursor: pointer;
  padding: 5%;
}

.remind-heading{
  padding: 5%;

}
