.Header-color {
  background-color: wheat;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.img {
  min-width: 1;
  min-height: 1;
  max-width: 1.28571429em;
  max-height: 1.28571429em;
  cursor: pointer;
}

.update-card-img {
  min-width: 1;
  min-height: 1;
  max-width: 3em;
  max-height: 3em;
  cursor: pointer;
}

.fundoo-text-sidebar {
    margin: 0% 0% 0% 20%;
    text-overflow: ellipsis;
    letter-spacing: .01785714em;
    font-size: .875rem;
    font-weight: 500;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

.header-text{
  margin: none
}

.card-signin-signup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  /* max-width: 500px; */
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4.25rem;
  margin-top: 1%;
}

.sidenav---sidenav---_2tBP {
  position: relative;
  display: grid;
  /* top: 4.8rem; */
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 64px;
  background: #db3d44;
  transition: min-width 0.15s;
  /* opacity: 0.5; */
}

.input {
  /* margin-left: 2%; */
  width: 60%;
  /* border-radius: 5px; */
  border: none
  /* box-shadow: 0 4px 6px rgb(143, 143, 143); */
}
.input-search{
  display: flex;
  flex-wrap: unset;
  background-color: white;
  border-radius: 5px;
  /* margin: 1% 2% 1% 6%; */
}

input.input:focus {
  outline-width: 0;
}

.search-button {
  width: 100%
}

.MuiAppBar-colorPrimary {
  color: black;
  background-color: whitesmoke;
}

.create {
  /* border: 1px solid; */
  width: 25%;
  display: flex;
  border-radius: 8px;
  border: 1px solid rgb(169, 169, 169);
  /* justify-content: center; */
}

.create1 {
  /* border: 1px solid blue; */
  width: 48%;
  height: 90%;
  display: flex;
  justify-content: baseline;
  margin-top: 7%;
  margin-left: 32%;
}

.take-note-input {
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  outline-width: 0;
  width: 100%;
  border: none;
}

.take-note-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  max-width: 450px;
  height: auto;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(143, 143, 143);
  margin-top: 7%;
  width: 100%;
}

.take-note-div {
  display: flex;
  justify-content: center;
  /* margin-top: 10%; */
}

.card-body-text {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  width: 100%;
}

.card-body-desc {
  justify-content: space-between;
  min-width: 0;
  width: 100%;
}

.note-description {
  min-width: 0;
  width: 100%;
  border: none;
}

.take-note-card-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  max-width: 450px;
  height: auto;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(143, 143, 143);
  margin-top: 7%;
  width: 100%;

}

.take-note-div-desc {
  /* margin-top: 10%; */
  display: flex;
  justify-content: center;
}

.card-bottom {
  display: flex;
  width: inherit;
  justify-content: space-between;
  visibility: hidden;

}

.create-card-bottom{
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.modal-footer-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.take-note-user-card-description {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(143, 143, 143);
  /* visibility: hidden; */
}

.user-card-div {
  /* display: flex; */
  margin-top: 1%;
}

.afterslide {
  margin-left: 15%;
  transition: margin-left 0.25s;
}

.beforeslide {
  transition: 0.25s
}

.card-grid {

  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20%;
  
}

.all-note-div {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 0 0 9%;
}

.card-margin {
  margin-top: 4%;
}


.colorPalleteCard {
  position: absolute;
  max-width: 116px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  transition: 5s;
}



.colorPalleteCard div IconButton {
  margin: 5px;
}

.card-link+.card-link {
  margin-left: 0
}

.remind-me {
  position: absolute;
  max-width: 100%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  transition: 5s;
  font-size: 0.8em;


}

.remind-day {
  display: flex;
  justify-content: space-between;
  width: 180px;
  cursor: pointer;
  padding: 5%;
}

.remind-heading {
  padding: 5%;

}

.user-profile-btn{
  background: transparent;
}

.list-view {
  width: 75%;
  height: auto;
  /* margin-left: -12.5%; */
}

.list-view-bottom{
  display: flex;
    justify-content: space-between;
    max-width: 50%;
    /* min-height: 10px; */
    visibility: hidden;
}

.create-note-chip{
  display: flex;
    justify-content: normal;
}

.fundoo-note-img{
  max-width: 2.5em;
    max-height: 2.5em;
    cursor: pointer;
}

.note-text-img{
  display: flex;
  margin: 0 0 0 1%;
}

.view-search-input{
  display: flex;
  width: 65%;
}

.list-view-div{
  padding: 1.5%
}

.user-icon{
  display: flex;
  justify-content: flex-end;
}


.card:hover .card-bottom,
.card-bottom:hover{
  visibility: visible;
}

.card:hover .list-view-bottom,
.list-view-bottom:hover{
  visibility: visible;
}

.edit-label-dialog{
  display: flex;
}

.label-text {
  margin: 0 0 0 5%;
}

.create-label-div{
  display: flex;
  
}

.profile-pic{
  height: 40px;
  width: 40px;
}

.profile-pic-popover{
  /* height:  calc(200px - 100%); */
  /* width:  calc(230px - 100%); */
  height: 90px;
  width: 90px;
}
/* .MuiDialog-paperWidthSm{
  width: -webkit-fill-available;
} */

.user-profile-info{
  display: flex;
}

.profile-bottom{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-top: 10px;
}
.user-information{
  display: flex;
  flex-direction: column;
  padding-left: 10px
}
.create-note-icons{
  display: flex;
  flex-direction: row;
}

.add-account{
  font-size: 0.7em;
  font-weight: 0px;
}

.all-reminders{
  display: flex;
  flex-wrap: wrap;
}
.all-trash { 
  display: flex;
  flex-wrap: wrap;
  margin-top: 15%
}

@media only screen and (max-width: 600px) {
  .list-view {
    width: 100%;
    /* height: auto; */
    margin-left: 1%;
  }

  .profile-pic{
    height: 40px;
    width: 40px;
  }

  .take-note-card {
    margin: 22% 5% 1% 5%;
  }

  .take-note-card-description{
    margin: 22% 5% 1% 5%;
  }

  .all-note-div {
    display: flex;
    width: 100%;
    margin: 0 0 0 1%;
  }

  .card-bottom{
    visibility: visible;
  }
  
  
  .list-view-bottom{
    visibility: visible;
  }

  .list-view-div{
    visibility: hidden;
  }

  .card-grid {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 1%;
    
  }
  
}